.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    /* outline: 5px solid black; */
}

.LogoContainer {
    max-width: 35%; /* Adjust the container's width as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 5%; */
    margin-bottom: 5%;
    /* padding-bottom: 50%; */
}

.Logo {
    max-width: 100%;
    width: 75%;
    height: auto;
}

.Message {
    font-family: "Cooper Black", sans-serif;
    font-size: 5vw;
    margin-bottom: 5%;
}

.MessageImg {
    max-width: 100vw;
}

@font-face {
    font-family: "Cooper Black";
    src: url("../../styles/CooperFiveOpti-Black.otf");
}

@media (max-width: 768px) {

    /* Apply styles for screens with a maximum width of 768px (typical tablet and mobile sizes) */
    .Logo {
        margin-top: 5%;
        height: auto;
        width: 100vw;
    }
}